<mat-toolbar color="primary">
  Pomiary
  <button
    class="refresh-data-button"
    (click)="refreshData()"
    mat-icon-button
    aria-label="Odśwież dane"
  >
    <mat-icon>refresh</mat-icon>
  </button></mat-toolbar
>

<div class="main-stats" [class.loading]="isLoading">
  <app-loader *ngIf="isLoading"></app-loader>

  <div class="water-section">
    <h2 class="title" title="Dalej od bramy.">Zb. lewy</h2>
    <app-single-stat
      [singleMeasurement$]="singleMeasurementTank0$"
    ></app-single-stat>
  </div>

  <div class="water-section">
    <h2 class="title" title="Bliżej bramy.">Zb. Prawy</h2>
    <app-single-stat
      [singleMeasurement$]="singleMeasurementTank1$"
    ></app-single-stat>
  </div>
</div>
