<mat-toolbar color="primary">
  Pomiary
  <button
    class="refresh-data-button"
    (click)="refreshData()"
    mat-icon-button
    aria-label="Odświerz dane"
  >
    <mat-icon>refresh</mat-icon>
  </button></mat-toolbar
>

<div class="main-stats" [class.loading]="isLoading">
  <app-loader *ngIf="isLoading"></app-loader>

  <div class="water-section">
    <h2 class="title" title="Dalej od bramy.">Zb. lewy</h2>
    <app-single-stat
      [singleMeasurment$]="singleMeasurmentTank1$"
    ></app-single-stat>

    <button
      class="show-charts-button"
      (click)="showCharts(1)"
      mat-icon-button
      aria-label="Pokaż wykresy"
    >
      <mat-icon class="show-charts-button">show_chart</mat-icon> Pokaż wykresy
    </button>
  </div>

  <div class="water-section">
    <h2 class="title" title="Bliżej bramy.">Zb. Prawy</h2>
    <app-single-stat
      [singleMeasurment$]="singleMeasurmentTank0$"
    ></app-single-stat>

    <button
      class="show-charts-button"
      (click)="showCharts(0)"
      mat-icon-button
      aria-label="Pokaż wykresy"
    >
      <mat-icon class="show-charts-button">show_chart</mat-icon> Pokaż wykresy
    </button>
  </div>
</div>
