<div class="water-level-chart">
  <ngx-charts-line-chart
    [scheme]="colorSchemeWaterLevel"
    [legend]="legend"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="'Poziom wody'"
    [timeline]="false"
    [autoScale]="true"
    [results]="waterLevelChartData"
  >
  </ngx-charts-line-chart>
</div>

<div class="temperature-chart">
  <ngx-charts-line-chart
    [scheme]="colorSchemeTemperature"
    [legend]="legend"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="'Temperatura'"
    [timeline]="false"
    [autoScale]="true"
    [results]="temperatureChartData"
  >
  </ngx-charts-line-chart>
</div>
