:host {
  display: block;
}

.chart-with-time-scope {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .radio-form {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;

    label {
      display: block;
      + label {
        margin-left: 10px;
      }
    }
  }
}
