<div class="chart-with-time-scope">
  <form class="radio-form" [formGroup]="timeWindowForm">
    <label>
      <input type="radio" value="1h" formControlName="timeWindow" />
      <span>Godzina</span>
    </label>
    <label>
      <input type="radio" value="1d" formControlName="timeWindow" />
      <span>Dzień</span>
    </label>
    <label>
      <input type="radio" value="1w" formControlName="timeWindow" />
      <span>Tydzień</span>
    </label>
    <label>
      <input type="radio" value="1mo" formControlName="timeWindow" />
      <span>Miesiąc</span>
    </label>
  </form>

  <div class="chart">
    <app-water-level-chart [inputData]="inputData"></app-water-level-chart>
  </div>
</div>
